.markdown {
    p {
        margin: 5px 0;
    }
    h1, h2, h3 {
        font-weight: bold;
    }
    h1 {
        font-size: 23px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 17px;
    }
}
.page-enter-active, .page-leave-active {
    transition: all 0.2s;
}

.page-enter, .page-leave-active {
    opacity: 0;
    transform: scale(0)
}